### Gradle template
build/
out/
bin/
target/
.gradle
.idea
.class
classes/
classes/*
src-generated/
.iml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Front-end build artefacts
dist/
coverage/
test-report.xml

### NPM/Yarn artifacts
node_modules/
yarn-error.log
npm-debug.log

### Visual Studio stuff ########
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Project caches
*.dbmdl
*.iml
